# Flask Yapılandırması
FLASK_APP=run.py
FLASK_DEBUG=False
SECRET_KEY=your-super-secret-key-change-me

# Veritabanı Bağlantısı
# Production'da PostgreSQL veya MySQL gibi harici bir DB URL'si verilmelidir.
# Örnek: postgresql://user:password@host:port/dbname
DATABASE_URL=sqlite:///atolyesef.db
